@media (max-width: 640px) {
    .body-crew {
        background-image: url('/src/assets/crew/background-crew-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 1007px) {
    .body-crew {
        background-image: url('/src/assets/crew/background-crew-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
}

@media (min-width: 1008px) {
    .body-crew {
        background-image: url('/src/assets/crew/background-crew-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
}