.crew-headline {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding: 100px 0 0 0;
}

.crew-headline-count {
    font-weight: 900;
    font-size: 18px;
    color: gray;
    margin-right: 5px;
}

.crew-lo {
    padding: 0 15px 0 15px;
}

.crew-image-cont {
    margin-top: 40px;
    text-align: center;
}

.crew-image {
    height: auto;
    width: 100%;
    min-width: 150px;
    max-width: 180px;
}

.crew-navs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
}

.crew-nav {
    height: 15px;
    width: 15px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}

.crew-details-lo {
    text-align: center;
    padding-bottom: 80px;
}

.crew-role {
    font-family: 'Bellefair', serif;
    font-size: 18px;
    color: gray;
    text-transform: uppercase;
}

.crew-name {
    font-family: 'Bellefair', serif;
    font-size: 25px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.crew-about {
    font-size: 16px;
    color: #D0D6F9;
    margin-top: 15px;
}

.active-crew {
    height: 15px;
    width: 15px;
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}

.crew-nav:hover {
    background-color: gainsboro;
}

@media (max-width: 640px) {
    .body-crew {
        background-image: url('/src/assets/crew/background-crew-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 1007px) {
    .body-crew {
        background-image: url('/src/assets/crew/background-crew-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .crew-headline {
        text-align: left;
        font-size: 20px;
        padding: 130px 0 0 20px;
    }
    .crew-headline-count {
        font-size: 20px;
    }
    .crew-navs {
        padding: 40px 0;
    }
    .crew-lo {
        display: flex;
        flex-direction: column-reverse;
    }
    .crew-details-lo {
        margin: 50px 0 0 0;
        padding: 0 100px;
    }
    .crew-image-cont {
        margin-top: 0;
    }
    .crew-image {
        height: 450px;
        min-width: 400px;
        max-width: 450px;
    }
    .container {
        padding-top: 100px;
        padding-bottom: 0;
    }
    .crew-role {
        font-size: 22px;
        letter-spacing: 1px;
    }
    .crew-name {
        font-size: 28px;
        letter-spacing: 2px;
    }
    .crew-dest-lo {
        display: flex;
        flex-direction: column-reverse;
    }
    .crew-headline {
        text-align: start;
    }
}

@media (min-width: 1008px) {
    .body-crew {
        background-image: url('/src/assets/crew/background-crew-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .crew-headline {
        text-align: start;
        font-size: 22px;
        padding: 160px 0 20px 110px;
    }
    .crew-headline-count {
        font-size: 22px;
    }
    .crew-lo {
        display: flex;
        flex-direction: row-reverse;
        margin: 0 0 0 110px;
        padding: 0;
        /* padding: 0 0 0 110px; */
    }
    .crew-details-lo {
        text-align: start;
        padding: 0;
    }
    .crew-dest-lo {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: start;
        gap: 20px;
    }
    .crew-image {
        height: 450px;
        min-width: 450px;
        max-width: 450px;
    }
    .crew-image-cont {
        margin: 0 50px 0 0;
    }
    .crew-role {
        font-size: 30px;
    }
    .crew-name {
        font-size: 42px;
    }
    .crew-about {
        font-size: 16px;
    }
}