.home-det {
    text-align: center;
    padding: 130px 15px 100px 15px;
}

.home-heading1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    color: #D0D6F9;
    text-transform: uppercase;
}

.home-heading2 {
    font-family: 'Bellefair', serif;
    font-size: 75px;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
}

.home-subhead {
    color: #d0d6f9bd;
    font-size: 16px;
}

.explore {
    font-family: 'Bellefair', serif;
    font-size: 25px;
    text-transform: uppercase;
    color: black;
    background-color: #ffffff;
    width: 170px;
    max-width: 170px;
    min-width: 170px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 60px 30px;
    cursor: pointer;
    text-align: center;
}

.explore:hover {
    border: #D0D6F9;
}

@media (max-width: 640px) {
    .body-hp {
        background-image: url('/src/assets/home/background-home-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
}
  
@media (min-width: 641px) and (max-width: 1007px) {
    .body-hp {
        background-image: url('/src/assets/home/background-home-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .home-det {
        text-align: center;
        padding: 200px 15px 100px 15px;
    }
    .home-heading2 {
        font-size: 120px;
    }
    .home-subhead {
        width: 50%;
        margin: 0 auto;
    }
}
  
@media (min-width: 1008px) {
    .body-hp {
        background-image: url('/src/assets/home/background-home-desktop.jpg');
        background-repeat: no-repeat;
        background-size: auto;
        width: 100vw;
    }
    .home-det {
        text-align: start;
        width: 40%;
    }
    .home-dest {
        padding: 120px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .home-heading1 {
        font-size: 25px;
        letter-spacing: 4px;
    }
    .home-heading2 {
        font-size: 150px;
    }
    .home-subhead {
        width: 400px;
    }
    .explore {
        margin: 0;
        min-width: 200px;
        max-width: 200px;
        padding: 80px 50px;
    }
}