/* font-family: 'Bellefair', serif; */
/* font-family: 'Barlow Condensed', sans-serif; */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    position: absolute;
    width: 100%;
    padding-left: 50px;
}

.offcanvas {
    background-color: #464957;
}

.navbar {
    background-color: #464957b7;
    margin: 50px 0;
    padding: 25px 150px 15px 70px;
}

.navbar ul {
    display: flex;
    gap: 50px;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
}


@media (max-width: 640px) {
    .tab-desk {
        display: none;
    }
    .header{
        padding: 20px 15px;
    }
    .navbar {
        background-color: transparent;
        margin: 10px 0;
        margin: 0;
        padding: 0;
    }
    .navbar ul {
        flex-direction: column;
        align-items: self-start;
    }
}
  
@media (min-width: 641px) and (max-width: 1007px) {
    .mob {
        display: none;
    }
    .navbar {
        margin: 0;
        padding: 35px 15px 15px 10px;
    }
    .navbar ul {
        gap: 30px;
    }
}
  
@media (min-width: 1008px) {
    .mob , .tab {
        display: none;
    }
}