:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.desk, .tab, .mob {
  width: 100%;
}

@media (max-width: 640px) {
  .desk , .tab {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  .mob , .desk {
    display: none;
  }
}

@media (min-width: 1008px) {
  .mob , .tab {
    display: none;
  }
}